In [1]:
import pandas as pd

In [ ]:
path = "C:\\Users\\julian\Desktop\studia\economic analytics\Projekt Badawczy - BIK\\01_dane\\01_dane_raw\\"

bik_1 = pd.read_csv(f"{path}BIK 1.csv", delimiter=";")
bik_2 = pd.read_csv(f"{path}BIK 2.csv", delimiter=";")
bik_3 = pd.read_csv(f"{path}BIK 3.csv", delimiter=";")
bik = pd.read_csv(f"{path}BIK.csv", delimiter=";")
bik2 = pd.read_csv(f"{path}BIK2.csv", delimiter=";")
proba_bik2010 = pd.read_csv(f"{path}proba_BIK201012.csv", delimiter=";")

In [27]:
dataset_list = [bik_1, bik_2, bik_3, bik, bik2, proba_bik2010]
dataset_names = ["bik_1", "bik_2", "bik_3", "bik", "bik2", "proba_bik2010"]

for dataset, name in zip(dataset_list, dataset_names):
    dataset["dataset_name"] = name

In [31]:
all_datasets = pd.concat(dataset_list, ignore_index=True)

In [41]:
all_datasets.groupby("dataset_name", as_index=False).describe(percentiles=[]).to_excel(
    "describe_summary.xlsx"
)

In [44]:
all_datasets

,id,ILE_BANKOW,ILE_BANKOW_12,ILE_MIES_OD_NAJSTAR_OTW,ILE_MIES_OD_NAJSTAR_OTW_NRAT,ILE_MIES_OD_NAJSTAR_OTW_RAT,ILE_PRODUKTOW,ILE_RACH_OTW,ILE_RACH_OTW_12,ILE_RACH_OTW_NRAT,...,SUMA_LIMIT,SUMA_LIMIT_KARTY,SUMA_LIMIT_ODNAWIALNE,SUMA_NAL_WYMAGAL,SUMA_NAL_WYMAGAL_BEZ_HIPO,SUMA_NAL_WYMAGAL_KARTY,SUMA_NAL_WYMAGAL_NRAT,SUMA_RATA,STATUS,dataset_name
0,1.0,1,NaN,"29,65",NaN,"29,65",1,1,0,0,...,NaN,NaN,NaN,0,0,NaN,NaN,274,0,bik_1
1,2.0,3,NaN,"35,68","35,68","18,71",3,4,0,3,...,14500.0,10500.0,4000.0,897,897,498.0,645.0,382,0,bik_1
2,3.0,1,1.0,"140,26","140,26","5,13",2,2,1,1,...,1600.0,NaN,1600.0,0,0,NaN,0.0,104,0,bik_1
3,4.0,2,NaN,"113,39","113,39",NaN,1,2,0,2,...,16400.0,16400.0,NaN,0,0,0.0,0.0,0,0,bik_1
4,5.0,1,NaN,91,91,NaN,1,1,0,1,...,6000.0,NaN,6000.0,0,0,NaN,0.0,0,0,bik_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89731,NaN,2,0.0,"48,61",0,"48,61",2,2,0,0,...,0.0,0.0,0.0,10316,10316,0.0,0.0,3502,1,proba_bik2010
89732,NaN,2,0.0,"117,39",0,"117,39",2,2,0,0,...,0.0,0.0,0.0,20956,20956,0.0,0.0,0,1,proba_bik2010
89733,NaN,3,0.0,"17,97",0,"17,97",2,3,0,0,...,0.0,0.0,0.0,67689,67689,0.0,0.0,39582,1,proba_bik2010
89734,NaN,3,0.0,"68,35",0,"68,35",2,4,0,0,...,0.0,0.0,0.0,28381,28381,0.0,0.0,3517,1,proba_bik2010
89735,NaN,4,0.0,"42,42","42,42","33,65",4,5,0,2,...,27100.0,5000.0,22100.0,39020,39020,3120.0,25259.0,566,1,proba_bik2010